services:
  backend:
    build:
      context: ./wiki_anim_fastapi
      dockerfile: Dockerfile
    container_name: fastapi-backend
    ports:
      - "8000:8000"
    networks:
      - app-network

  frontend:
    build:
      context: ./wiki_anim_react
      dockerfile: Dockerfile
    container_name: react-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    environment:
      - VITE_API_URL=http://backend:8000
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
