wiki_anim/wiki_anim_fastapi/fastapi-env/
*.pyc
__pycache__/
instance/
.env
.venv/
.venv3/
venv/
env/
env3/
.idea/
*.sqlite3
*.log
*.log.*
*.pid
celerybeat-schedule
*.coverage
htmlcov/
.coverage.*
.cache
nosetests.xml
.tox/
.pytest_cache/
.coverage
*.cover
*.mov
*.pot
*.mo
*.log
*.csv