* {
  box-sizing: border-box;
}

#root {
  padding: 2rem;
  width: 100rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.flex-item {
  flex: 33.33%;
  width: auto;
  text-align: center;
  position: relative;
}


@media (max-width: 768px) {
  .flex-item {
    flex: 100%;
  }
}