.add_anime_card {
    padding: 2em;
    text-align: left;
    color: #f4eaea;
    border: 1px solid #eee;
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
    width: 300px;
    background-color: #1a1a1a;
    align-items: center;
    margin-bottom: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.close_button {
    float: right;
    font-size: 1.5em;
    cursor: pointer;
    color: #ff4d4d;
}

.close_button:hover {
    color: #dbf08b;
}